* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* reusable class */
.base-mt {
    margin-top: 5%;
}

.mt-2 {
    margin-top: 20px;
}

span {
    font-weight: 800;
}

.tags {
    color: #ffffff;
    background-color: #000000;
    margin-right: 5px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}


.navbar {
    /* border: 1px black solid; */
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 10%;
}

.navbar button {
    cursor: pointer;
    padding: 18px 30px;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: background-color 0.8s, color 0.3s;
}

.nav-btn.active {
    background-color: #d6d9dd56;
    color: #000000
}



.main-content {
    /* border: 1px black solid; */
    max-width: 45vw;
    padding: 10px;
}

.home {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
}

.home h1 {
    font-size: 45px;
}

.home .home-dsc {
    max-width: 90%;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border: 2px #0000001a solid;
    border-radius: 20px;
    width: 310px;
    padding: 20px;
    margin: 20px;
    margin-left: 0;
}

.box img {
    width: 100px;
    border-radius: 50%;
}

.home-link {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.home-link a {
    color: black;
}

/* about */
.about {
    display: flex;
    flex-direction: column;
}

.about h2 {
    margin-bottom: 20px;
}

.about h3 {
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 30px;
    max-width: 90%;
}


/* portfolio */
.portfolio {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
}

.portfolio .linktodshb {
    text-decoration: none;
    color: #000000;
}

.portfolio h2 {
    margin-bottom: 20px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 200px;
}

.portfolio-card p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #00000081;
    font-size: small;
}

.portfolio-card a {
    text-decoration: none;
    padding: 5px;
    border: #00000048 2px solid;
    border-radius: 10px;
    color: #000000b7;
    text-align: center;

}

.portfolio-card a:hover {
    background-color: black;
    border: none;
    color: white;
    padding: 7px;
}


.portfolio-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


.portfolio-card img {
    width: 200px;
    border-radius: 8px;
}




/* contact */

.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    max-width: 90%;
}

.contact-link {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contact-link a {
    color: black;
}


/* Untuk Tablet */
@media screen and (max-width: 868px) {
    /* CSS untuk Tablet di sini */

    body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .navbar {
        /* border: 1px black solid; */
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        position: -webkit-sticky;
        top: 91vh;
        width: 100%;

        padding-bottom: 25px;
    }

    .navbar .logo {
        display: none;
    }

    .navbar button {
        cursor: pointer;
        padding: 18px;
        padding-bottom: 20px;
        color: black;
        background-color: transparent;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        transition: background-color 0.8s, color 0.3s;
    }

    .nav-btn.active {
        background-color: #d6d9dd56;
        color: #000000;
        font-weight: 800;

    }

    .main-content {
        /* border: 1px black solid; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 80vw;
        padding: 10px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 300px;
    }

}

/* Untuk Smartphone */
@media screen and (max-width: 450px) {
    /* CSS untuk Smartphone di sini */

    p {
        font-size: 15px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 17px;
    }

    .box-txt {
        font-size: 14px;
    }

    .navbar button {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        color: #505050;
    }

    .navbar button i {
        font-size: 20px;
    }

    .nav-btn.active {
        background-color: transparent;
        color: #000000;
        font-weight: 500;
    }

    .home h1 {
        font-size: 30px;
    }

    .home .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        border: 2px #0000001a solid;
        border-radius: 20px;
        width: 280px;
        padding: 10px;
        margin: 20px;
        margin-left: 0;
    }


    .portfolio-card {
        width: 265px;
    }


    .portfolio-card img {
        width: 265px;
    }


}